name: Deploy Backend to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Deploy via SSH
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          export NVM_DIR="$HOME/.nvm"
          source $NVM_DIR/nvm.sh

          nvm use 18
          cd /var/www/<repo-name>
          git pull origin main
          npm install
          pm2 restart backend-app
